h1{
    color: aquamarine;
    }
    body {
        background-color: blanchedalmond
    ;
    }

    p {
        text-align: justify;
        padding:1px solid black; 
        border: 2px solid black;
        margin: 20px solid black;
    }